{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Loja</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'nav/nav.css' %}">
</head>
<body>
    {% include 'includs/navbar.html' %}<br>

    <main>
        <h1>Adicionar Nova Loja</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Adicionar Loja</button>
        </form>
    </main>
</body>
</html>